{% extends "base.html" %}
{% block content %}
    <h2>{{ title }}</h2>
    <form method="POST" action="{{ url_for('create_entry') }}">
        {{ form.csrf_token }} <!-- CSRF protection -->
        <p>
            <label>Employee Name:</label>
            <input type="text" value="{{ current_user_email }}" readonly>
        </p>
        <p>
            {{ form.discipline.label }}<br>
            {{ form.discipline }}
            {% for error in form.discipline.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.project_name.label }}<br>
            {{ form.project_name }}
            {% for error in form.project_name.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.region.label }}<br>
            {{ form.region }}
            {% for error in form.region.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.description.label }}<br>
            {{ form.description }}
            {% for error in form.description.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.direct_cost_savings.label }}<br>
            {{ form.direct_cost_savings }}
            {% for error in form.direct_cost_savings.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.hours_saved.label }}<br>
            {{ form.hours_saved }}
            {% for error in form.hours_saved.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.approved_by_region }} {{ form.approved_by_region.label }}
            {% for error in form.approved_by_region.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>{{ form.submit }}</p>
    </form>
{% endblock %}