{% extends "base.html" %}
{% block content %}
<!-- [ content ] Start -->
<div class="container-fluid flex-grow-1 pt-3 container-p-y">
    <!-- <h4 class="font-weight-bold py-3 mb-0">Summary List</h4> -->
    <div class="text-muted small mt-0 mb-3 breadcrumb">
        <ol class="breadcrumb" style="width: 125px;margin: 10px 15px;">
            <li class="breadcrumb-item"><a href="#"><i class="feather icon-home"></i></a></li>
            <li class="breadcrumb-item active">Summary List</li>
        </ol>
        <a class="btn btn-success" href="{{ url_for('Add') }}" class="button">New</a>

        <!-- Search -->
        <label class="nav-item navbar-text navbar-search-box p-0 pl-3 active">
            <i class="feather icon-search navbar-icon align-middle"></i>
            <span class="navbar-search-input pl-2">
                <input type="text" id="myInput" class="form-control navbar-text mx-2" placeholder="Search...">
            </span>
        </label>
    </div>
    <div class="card box-shadow mb-4">
        <div class="card-body mt-4">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>ProjectNameAndNumber</th>
                            <th>Status</th>
                            <th>Region</th>
                            <th>REXInitiatingDiscipline</th>
                            <th>REXInitiator</th>
                            <th>REXOnDiscipline</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="TableBody-Reqlist-block">
                        {% for ReturnOFExperience in ReturnOFExperienceList %}
                        <tr onclick="window.location.href='/update/{{ ReturnOFExperience.id }}'"
                            style="cursor: pointer;">
                            <td>{{ ReturnOFExperience.id }}</td>
                            <td>{{ ReturnOFExperience.project.name }}</td>
                            {% if ReturnOFExperience.status == "RexEntry" or ReturnOFExperience.status == "RexCommitee"
                            or ReturnOFExperience.status == "ActinPlan" or ReturnOFExperience.status ==
                            "ReviewByCommittee" %}
                            <td><button type="button" class="btn btn-xs btn-warning box-shadow">{{
                                    ReturnOFExperience.status
                                    }}</button></td>
                            {% endif %}
                            {% if ReturnOFExperience.status == "Closed" %}
                            <td><button type="button" class="btn btn-xs btn-success box-shadow">{{
                                    ReturnOFExperience.status
                                    }}</button></td>
                            {% endif %}
                            {% if ReturnOFExperience.status == "Rejected" %}
                            <td><button type="button" class="btn btn-xs btn-danger box-shadow">{{
                                    ReturnOFExperience.status
                                    }}</button></td>
                            {% endif %}
                            <td>{{ ReturnOFExperience.region.name }}</td>
                            <td>{{ ReturnOFExperience.initiator.name }}</td>
                            <td>{{ ReturnOFExperience.initiating_discipline.name }}</td>
                            <td>{{ ReturnOFExperience.on_topic_discipline.name }}</td>
                            <td>
                                <a class="btn btn-xs btn-primary" href="/update/{{ ReturnOFExperience.id }}"
                                    class="button">View</a>
                                <!-- <a class="btn btn-xs btn-primary" href="/delete/{{ ReturnOFExperience.id }}"
                                    class="button">Delete</a> -->
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <!-- Updated text here -->
                            <td colspan="8" style="text-align: center; padding: 20px;">No data available</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>


            </div>
        </div>
    </div>
</div>
<!-- [ content ] End -->
{% endblock %}